{% extends "template.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <h1>Configuration timestamp</h1>
        <a>To start configuration, please enter a date and time below.</a>
        <form action="/configure" method="post" name="configForm">

            <div>
                <input type="datetime-local" step=1 name="datetime">
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <a>Data stored in the database</a><br>
        {% if size > 0 %}
            <form action="/shift_entries" method="post">
                <div style="overflow-y: scroll; height:500px;">
                {% for i in range(size) %}
                    <input type="checkbox" name={{ times[i] }} value={{ stats[i] }}><br>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/configure/{{ times[i] }}';" data-toggle="tooltip" data-html="true"
                            data-placement="top"
                            title={{ stats[i] }} >
                        {{ times[i] }}
                    </button>
                    <a href="/remove/{{ times[i] }}">Remove</a>
                    <a href="/duplication/{{ times[i] }}">Duplicate</a><br>
                {% endfor %}
                </div>
            <br>
            <input type="submit" name="action" value="Shift" data-toggle="tooltip" data-html="true"
                            data-placement="top" onclick="return confirm('Shift all entries after the selected record?')"
                            title="By clicking this button, all records following the selected record will be shifted." >
            <input type="submit" name="action" value="Move" data-toggle="tooltip" data-html="true"
                            data-placement="top" onclick="return confirm('Duplicate all records between the selected entries?')"
                            title="By clicking this button, all records between the selected records will be duplicated.">
            <input type="submit" name="action" value="Delete selection" data-toggle="tooltip" data-html="true" data-placement="top"
                   title="By clicking this button, all selected records will be removed." onclick="return confirm('Remove all selected entries?')">

            </form>
            <br>
            <button type="button" class="btn btn-secondary" onclick="window.location.href = '/clearall';">
                Clear database
            </button>
        {% else %}
            Nothing committed yet.
        {% endif %}
    </div>
</div>
{% endblock %}
