{% extends "template.html" %}
{% block content %}

    <h1>Import data</h1>
    <a>Here you can select from which format you want to import your data.</a><br>
    <br>
    <div>
        <form action="/importcsv" method="post">
            To import data from a CSV file, click here.<br>
            <input type="checkbox" name="overwrite" value="1">Overwrite existing values
            <input type="submit" value="Import!"><br>
        </form>
        <form action="/importemi" method="post">
            To import data from an emi file, click here.<br>
            <input type="checkbox" name="overwrite" value="1">Overwrite existing values
            <input type="submit" value="Import!"><br>
        </form>
    </div>
{% endblock %}