{% extends "template.html" %}
{% block content %}

    <style>
    /* basic positioning */
        .legend { list-style: none; }
        .legend li { float: left; margin-right: 10px; }
        .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
        /* your colors */
        .legend .between { background-color: {{ colors["between_color"] }}; }
        .legend .smaller { background-color: {{ colors["smaller_color"] }}; }
        .legend .bigger { background-color: {{ colors["bigger_color"] }}; }
        .legend .equal_max { background-color: {{ colors["equal_color"] }}; }
    </style>

    {% if data %}
        <h1>Overview</h1>
        <a>Below is a day-by-day visual representation of the recorded configurations, color-coded according to the legend.</a><br>
        <br>
        <div class="row">

        <div class="col-xl-3 col-md-6 mb-4" style="overflow-y: scroll; height:500px; width:500px;">

            <table border="1">
                {% for k in data.keys() %}
                    <tr>
                        <td bgcolor="#a9a9a9" style="color:white">{{ k }}</td>
                        {% for f in data[k].keys() %}
                            <tr>
                                <td>Fati {{ f }}</td>
                                {% for v in data[k][f].keys() %}
                                    {% if (data[k][f][v]['run_time'] > limits['min_target'] and data[k][f][v]['run_time'] < limits['max_target']) %}
                                        <td bgcolor="{{ colors["between_color"] }}">{{ data[k][f][v]['run_time'] }}</td>
                                    {% elif data[k][f][v]['run_time'] < limits['min_target'] %}
                                        <td bgcolor="{{ colors["smaller_color"] }}">{{ data[k][f][v]['run_time'] }}</td>
                                    {% elif data[k][f][v]['run_time'] > limits['max_target'] %}
                                        <td bgcolor="{{ colors["bigger_color"] }}">{{ data[k][f][v]['run_time'] }}</td>
                                    {% elif data[k][f][v]['run_time'] == limits['max_target'] %}
                                        <td bgcolor="{{ colors["equal_color"] }}">{{ data[k][f][v]['run_time'] }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            Problems found, try checking following entries:<br>
            Days where the value is under the minimum threshold
            <table border="1" title="Days where the value is lower">
                {% for i in range(problems['lower']|length) %}
                    <tr>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href = '/configure/{{ problems['lower'][i] }}';"
                        data-toggle="tooltip" data-html="true" data-placement="top" title='Problem with valve {{ problems['lower_valves'][i] }}'>
                            {{ problems['lower'][i] }}
                        </button>
                    </tr>
                {% endfor %}
            </table>
            <br>
            Days where the value is above the maximum threshold
            <table border="1" title="Days where the value is higher">
                {% for i in range(problems['higher']|length)  %}
                    <tr>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href = '/configure/{{ problems['higher'][i] }}';"
                        data-toggle="tooltip" data-html="true" data-placement="top" title='Problem with valve {{ problems['higher_valves'][i] }}'>
                            {{ problems['higher'][i] }}
                        </button>
                    </tr>
                {% endfor %}
            </table>

        </div>

        </div>

        <div>
            <ul class="legend">
                <li><span class="smaller"></span> Smaller than the minimum limit</li>
                <li><span class="between"></span> Between the minimum and maximum limit</li>
                <li><span class="bigger"></span> Bigger than the maximum limit</li>
                <li><span class="equal_max"></span> Exactly the maximum limit</li>
            </ul>
        </div>

    {% endif %}

{% endblock %}