{% extends "template.html" %}
{% block content %}

    <h1>Export data</h1>
    <a>Here you can select in which format you want to export your data.</a><br>
    <br>
    <div>
        <form action="/writetocsv" method="post">
            To export data as CSV, click here.
            <input type="submit" value="Export!">
        </form>
        <form action="/writetoemi" method="post">
            To export data as emi, click here.
            <input type="submit" value="Export!">
        </form>
    </div>
{% endblock %}