{% extends "template.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <a>To start configuration, please enter a date and time below.</a>
        <form action="/configure" method="post" name="configForm">

            <div>
                <input type="datetime-local" step=1 name="datetime">
            </div>

            <input type="submit" value="Commit">
        </form>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <a>Data stored in the database</a>
        {% if times, stats %}
            <form action="/shift_entries" method="post">
                <div class="scroller">
                {% for i in range(size) %}
                    <input type="checkbox" name={{ times[i] }} value={{ stats[i] }}><br>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/configure/{{ times[i] }}';" data-toggle="tooltip" data-html="true"
                            data-placement="top"
                            title={{ stats[i] }} >
                        {{ times[i] }}
                    </button>
                    <a href="/remove/{{ times[i] }}">Remove</a>
                    <a href="/duplication/{{ times[i] }}">Duplicate</a><br>
                {% endfor %}
                </div>
            <input type="submit" value="Shift entries from selected entry on">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
