{% extends "template.html" %}
{% block content %}
<div>
    <div class="col-xl-3 col-md-6 mb-4">
        <a>To start configuration, please enter a date and time below.</a>
        <form action="/configure" method="post">

            <div>
                <input type="datetime-local" step=1 name="datetime">
            </div>

            <input type="submit" value="Commit">
        </form>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <a>Data stored in the database</a>
        {% if times, stats %}
            <div class="ex3">
                {% for i in range(size) %}
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-html="true"
                            data-placement="top"
                            title={{ stats[i] }}>
                        {{ times[i] }}
                    </button><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
