{% extends "template.html" %}
{% block content %}

    <h1>Miscellaneous settings</h1>
    <a>Here you can alter various values used within the interface.</a><br>
    <br>
    {% if data %}
        <style>
            .smaller_sample{border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}
            .bigger_sample{border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}
            .between_sample{border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}
            .equal_sample{border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}
        </style>

        <form action="/change_misc" method="post">
            Delta for valves (in seconds): <input type="text" name="on_time" value="{{ data["settings"]["on_time"] }}"><br>
            Delta for shift (in days): <input type="text" name="shift_days" value="{{ data["settings"]["shift_days"] }}"><br>
            Delta for move (in days): <input type="text" name="move_days" value="{{ data["settings"]["move_days"] }}"><br>
            Minimum limit (in seconds): <input type="text" name="min_rate" value="{{ data["settings"]["min_rate"] }}"><br>
            Maximum limit (in seconds): <input type="text" name="max_rate" value="{{ data["settings"]["max_rate"] }}"><br>
            Color for values under the minimum limit: <input type="text" name="smaller_color" value="{{ data["settings"]["smaller_color"] }}"><div class="smaller_sample" style="background-color: {{ data["settings"]["smaller_color"] }};"></div><br>
            Color for values above the maximum limit: <input type="text" name="bigger_color" value="{{ data["settings"]["bigger_color"] }}"><div class="bigger_sample" style="background-color: {{ data["settings"]["bigger_color"] }};"></div><br>
            Color for values between the minimum and maximum limit: <input type="text" name="between_color" value="{{ data["settings"]["between_color"] }}"><div class="between_sample" style="background-color: {{ data["settings"]["between_color"] }};"></div><br>
            Color for values equal to the maximum limit: <input type="text" name="equal_color" value="{{ data["settings"]["equal_color"] }}"><div class="equal_sample" style="background-color: {{ data["settings"]["equal_color"] }};"></div><br>
        <input type="submit" value="Save">
        </form>

    {% else %}
        <a>Something went wrong, please contact the person responsible for maintenance.</a>

    {% endif %}

{% endblock %}